nav li{
    font-size: 1em;
    text-decoration: none;
    color: red;
    display: inline;
    padding: 5px;
}

nav{
    padding-left: 10px;
    
}

nav li:hover{
    cursor: grab;
    font-size: 1.2em;
    text-decoration-color: red;
}

nav a img{
    position: absolute;
    left: 0;
    top: 0;

}


body{
    font-size: 1em;
}

